*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.active{
    color: rgb(0, 84, 219);
    border-bottom: 3px solid rgb(7, 47, 168);
}
.spanhead{
    width: 25px;
    height: 25px;
    background: rgb(250, 56, 8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 900;
    position: absolute;
    right: 270px;
    top: 10px;
}
.spanhead2{
    width: 25px;
    height: 25px;
    background: rgb(250, 56, 8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 900;
    position: absolute;
    right: 440px;
    top: 10px;
}